body{
    background-color: rgb(196, 237, 248)
}
#header{
    background-color: burlywood;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

#header h1{
    color: blue;
}
#header blockquote{
    background-color: yellow
    border: 2px dotted;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    color: rgb(5, 190, 51);
}
.gambar {
    text-align: center;
}
.gambar img{
    widht: 20%;
}
.koleksi {
    text-align:-center;
}
.koleksi img{
    widht: 20%;
}
.fp::first-letter{
    color: blue;
    font-size: 40px;
}body{
    background-color: rgb(196, 237, 248)
}
#header{
    background-color: burlywood;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

#header h1{
    color: blue;
}
#header blockquote{
    background-color: yellow
    border: 2px dotted;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    color: rgb(5, 190, 51);
}
.gambar {
    text-align: center;
}
.gambar img{
    widht: 20%;
}
.koleksi {
    text-align:-center;
}
.koleksi img{
    widht: 20%;
}
.fp::first-letter{
    color: blue;
    font-size: 40px;
}